
/* https://codepen.io/silkine/pen/jldif */

body {
  background: #f9f7f1;
  font-family: 'Droid Serif', serif;
  color: #2f2f2f;
}

.App{
  width: 1200px;
  height: auto;
  border-radius: 5px;
  backdrop-filter: blur(105px);
  margin: auto;
  margin-top: 40px;
}

header {
  padding-bottom: 20px;
  width: 1200px;
  backdrop-filter: blur(105px);
  border-radius: 5px;
}

h1{
  text-align: center;
  font-size: 70px;
  border-bottom: 2px solid #2f2f2f;
}

h2{
  text-align: center;
  font-size: xx-large;
}

h3{
border-top: 1.5px solid #2f2f2f;
border-bottom: 1.5px solid #2f2f2f;
text-align: center;
}


figcaption {
  text-align: center;
}

content {
  text-align: center;
}

table {
  padding-top: 10px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

tr {
  text-align: center;
}

td {
  padding-bottom: 80px;
  border-top: 2px solid #2f2f2f;
  padding-top: 50px;
}

.by {
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  margin-left: 350px;
  margin-right: 350px;
}

figcaption {
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 5px;
}

a {
  font-size: xx-large;
  color: #2f2f2f;
}

.btn {
  text-align: center;
  margin: 10px;
}

.search {
  margin: 15px;
  margin-left: 350px;
  margin-right: 350px
}

img{
  max-height: 400px;
   max-width: 600px;
  filter: grayscale(90%)
}
